/*==================================================================
/                                GENERAL
/===================================================================*/
.wheelelement{
    position:absolute;
    width: 250px;
    height: 404px;

    /*width: 125px;
    height: 202px;*/
    
    /*width: 236.71875px;
    height: 400.95258620px;*/

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*.itemcontainer{
    position:absolute;
    transform-origin: 50% 50%;
    transform: translate(0, 50%);
}*/


#pinwheel{
    position:absolute;
    width: 200px;
    height: 200px;
    top:90%;
    left:50%;
    transform:translate(-50%, -50%);
}

#pivot{
    position: relative;
    height: 200px;
    width: 200px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:13;
    cursor: pointer;
}

.lights{
    position:absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top:0px;
    left:0px;
    min-width:320px;
    z-index:14;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

#light_pattern_1{
    background-image: url('../img/luces/lights_1.png');
}

#light_pattern_2{
    background-image: url('../img/luces/lights_2.png');
}

#light_pattern_all{
    background-image: url('../img/luces/lights_3.png');
}

#game_overlay{
    background-image:url('../img/overlay.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:absolute;
    width: 100%;
    height: 100%;
    min-width:320px;
    /*min-height:720px;*/
    /*max-width:600px;*/
    display: block;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    top:0px;
    left:0px;
}

.btni{
    background-image: url('../img/btn_inactive.png');
    background-size: cover;
}

.btna{
    background-image: url('../img/btn_active.png');
    background-size: cover;
}

/*==================================================================
/                          GAME SPECIFIC END
/===================================================================*/


/*==================================================================
/                                GENERAL
/===================================================================*/
html, body{
	margin: 0px;
    height:100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

.errorfield{
    border: 3px solid #bb2211 !important;
}

.invis{
    opacity:0;
}

#blackoverlay{
    display: block;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 20;
}

.notbackground{
    display: block;
    opacity: 0;
    pointer-events: none;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 15;
    top:0px;
}

#notif{
    width: 300px;
    height: 300px;
    display: block;
    background-color: white;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0);
    top: 50%;
    left: 50%;
    position: relative;
    z-index: 2;
    cursor:pointer;
}

#notifshadow{
    width: 300px;
    height: 300px;
    display: block;
    background-color:transparent;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 1;
}

#game_container{
    background-image:url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    width: 100%;
    height: 100%;
    min-width:320px;
    /*min-height:720px;*/
    /*max-width:600px;*/
    display: block;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /*overflow: hidden;*/
}

#game_container *{
    -webkit-box-sizing: none;
    -moz-box-sizing: none;
    box-sizing: none;
}

#game_container img{
    max-width: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#game_container p{
    margin: 0px;
}

#sub_container{
    position: relative;
    width:100%;
    height:100%;
    /*min-height:480px;
    min-width:320px;*/
    overflow:hidden;
}

#game-border{
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

@media(orientation:portrait){
    #game_container{
        /*width:100% !important;
        height:100% !important;*/
        margin-top:0px !important
    }

    .dy-lb-close{
        top: 0px !important;
        right: 0px !important;
    }
}

@media(orientation:landscape){
    #game_container{
        margin-top:0px !important;
        min-width:512px;
        min-height:742px;
    }
}
/*==================================================================
/                                GENERAL END
/===================================================================*/

/*==================================================================
/                                ANIMATIONS
/===================================================================*/
.movewheel {
    position: absolute;
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;

    -webkit-animation: topRotateTo 3s ease-in-out forwards;
    -moz-animation: topRotateTo 3s ease-in-out forwards;
     animation: topRotateTo 3s ease-in-out forwards;
}

.rmovewheel{
    position: absolute;
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;

    -webkit-animation: botRotateTo 3s ease-in-out forwards;
    -moz-animation: botRotateTo 3s ease-in-out forwards;
     animation: botRotateTo 3s ease-in-out forwards;
}

.form_animEnter{
    -ms-transform-origin: 0% 0%; /* IE 9 */
    -moz-transform-origin: 0% 0%; /* Mozilla */
    -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
    transform-origin: 0% 0%;

    -ms-animation: formEnter 1s ease-out  forwards;
    -webkit-animation: formEnter 1s ease-out forwards;
    -moz-animation: formEnter 1s ease-out forwards;
     animation: formEnter 1s ease-out forwards;
}

@keyframes glowing{
    0% {box-shadow: 0px 0px 0px #edca04;}
    100% {box-shadow: 0px 0px 100px #fffaa0;}
}

@-webkit-keyframes glowing{
    0% {-webkit-box-shadow: 0px 0px 0px #edca04;}
    100% {-webkit-box-shadow: 0px 0px 100px #fffaa0;}
}

@-moz-keyframes glowing{
    0% {box-shadow: 0px 0px 0px #edca04;}
    100% {box-shadow: 0px 0px 100px #fffaa0;}
}

.glow{
    -webkit-animation: glowing 2s linear infinite alternate;
    -moz-animation: glowing 2s linear infinite alternate;
     animation: glowing 2s linear infinite alternate;
}

@keyframes fadeout{
    0% { opacity: 1}
    100%{ opacity: 0}
}

@-webkit-keyframes fadeout{
    0% { -webkit-opacity: 1}
    100%{ -webkit-opacity: 0}
}

@-moz-keyframes fadeout{
    0% { opacity: 1}
    100%{ opacity: 0}
}

.bgload{
    pointer-events: none;
    -webkit-animation: fadeout 2s ease-out forwards;
    -moz-animation: fadeout 2s ease-out forwards;
    animation: fadeout 2s ease-out forwards;
}

.bgunload{
    opacity: 1;
    pointer-events: all;
}

@keyframes fadein{
    0% { opacity: 0}
    100%{ opacity: 1}
}

@-webkit-keyframes fadein{
    0% { -webkit-opacity: 0}
    100%{ -webkit-opacity: 1}
}

@-moz-keyframes fadein{
    0% { opacity: 0}
    100%{ opacity: 1}
}

.zodload{
    pointer-events: none;
    -webkit-animation: fadein 3s ease-out forwards;
    -moz-animation: fadein 3s ease-out forwards;
    animation: fadein 3s ease-out forwards;
}

@keyframes cantR{
    0%, 50%, 100% { transform: rotate(0deg)}
    15%, 45%, 75% { transform: rotate(5deg)}
    30%, 60%, 90% { transform: rotate(-5deg)}
}

@-webkit-keyframes cantR{
    0%, 50%, 100% { -webkit-transform: rotate(0deg)}
    15%, 45%, 75% { -webkit-transform: rotate(5deg)}
    30%, 60%, 90% { -webkit-transform: rotate(-5deg)}
}

@-moz-keyframes cantR{
    0%, 50%, 100% { -moz-transform: rotate(0deg)}
    15%, 45%, 75% { -moz-transform: rotate(5deg)}
    30%, 60%, 90% { -moz-transform: rotate(-5deg)}
}

.cantRotate{
    position: absolute;
    /*-ms-transform-origin: 50% 50%;*/ /* IE 9 */
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;

    /*-ms-animation: cantR 1s linear  forwards;*/
    -webkit-animation: cantR 1s linear forwards;
    -moz-animation: cantR 1s linear forwards;
     animation: cantR 1s linear forwards;
}

@keyframes appear{
    0% { transform: translate(-50%, -50%) scale(0)}
    30% { transform: translate(-50%, -50%) scale(1)}
    /*35% { transform: translate(-50%, -50%) scale(0.98)}
    38% { transform: translate(-50%, -50%) scale(0.95)}*/
    40% { transform: translate(-50%, -50%) scale(1)}
    100% { transform: translate(-50%, -50%) scale(1)}
}

@-webkit-keyframes appear{
    0% { -webkit-transform: translate(-50%, -50%) scale(0)}
    30% { -webkit-transform: translate(-50%, -50%) scale(1)}
    /*35% { transform: translate(-50%, -50%) scale(0.98)}
    38% { transform: translate(-50%, -50%) scale(0.95)}*/
    40% { transform: translate(-50%, -50%) scale(1)}
    100% { transform: translate(-50%, -50%) scale(1)}
}

@-moz-keyframes appear{
    0% { -moz-transform: translate(-50%, -50%) scale(0)}
    30% { -moz-transform: translate(-50%, -50%) scale(1)}
    /*35% { transform: translate(-50%, -50%) scale(0.98)}
    38% { transform: translate(-50%, -50%) scale(0.95)}*/
    40% { transform: translate(-50%, -50%) scale(1)}
    100% { transform: translate(-50%, -50%) scale(1)}
}

.maximize{
    position: absolute;
    /*-ms-transform-origin: 50% 50%;*/ /* IE 9 */
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;

    /*-ms-animation: cantR 1s linear  forwards;*/
    -webkit-animation: appear 1s ease-in forwards;
    -moz-animation: appear 1s ease-in forwards;
     animation: appear 1s ease-in forwards;
}

@keyframes disappear{
    0% { transform: translate(-50%, -50%)scale(1)}
    100% { transform: translate(-50%, -50%)scale(0)}
}

@-webkit-keyframes disappear{
    0% { -webkit-transform: translate(-50%, -50%)scale(1)}
    100% { -webkit-transform: translate(-50%, -50%)scale(0)}
}

@-moz-keyframes disappear{
    0% { -moz-transform: translate(-50%, -50%)scale(1)}
    100% { -moz-transform: translate(-50%, -50%)scale(0)}
}

.minimize{
    position: absolute;
    /*-ms-transform-origin: 50% 50%;*/ /* IE 9 */
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;

    /*-ms-animation: cantR 1s linear  forwards;*/
    -webkit-animation: disappear 1s ease-in-out forwards;
    -moz-animation: disappear 1s ease-in-out forwards;
     animation: disappear 1s ease-in-out forwards;
}

@keyframes fade{
    0% { opacity: 1}
    25% { opacity: 0}
    50% { opacity: 1}
    75% { opacity: 0}
    100% { opacity: 1}
}

@-webkit-keyframes fade{
    0% { opacity: 1}
    25% { opacity: 0}
    50% { opacity: 1}
    75% { opacity: 0}
    100% { opacity: 1}
}

@-moz-keyframes fade{
    0% { opacity: 1}
    25% { opacity: 0}
    50% { opacity: 1}
    75% { opacity: 0}
    100% { opacity: 1}
}

.lfadein{
    -webkit-animation: fade 1s ease-in-out infinite;
    -moz-animation: fade 1s ease-in-out infinite;
    animation: fade 1s ease-in-out infinite;
}

@keyframes reverse_fade{
    0% { opacity: 0}
    25% { opacity: 1}
    50% { opacity: 0}
    75% { opacity: 1}
    100% { opacity: 0}
}

@-webkit-keyframes reverse_fade{
    0% { opacity: 0}
    25% { opacity: 1}
    50% { opacity: 0}
    75% { opacity: 1}
    100% { opacity: 0}
}

@-moz-keyframes reverse_fade{
    0% { opacity: 0}
    25% { opacity: 1}
    50% { opacity: 0}
    75% { opacity: 1}
    100% { opacity: 0}
}

.rfadein{
    -webkit-animation: reverse_fade 1s ease-in-out infinite;
    -moz-animation: reverse_fade 1s ease-in-out infinite;
    animation: reverse_fade 1s ease-in-out infinite;
}

@keyframes fast_flicker{
    0% { opacity: 0}
    25% { opacity: 1}
    50% { opacity: 0}
    75% { opacity: 1}
    100% { opacity: 0}
}

@-webkit-keyframes fast_flicker{
    0% { opacity: 0}
    25% { opacity: 1}
    50% { opacity: 0}
    75% { opacity: 1}
    100% { opacity: 0}
}

@-moz-keyframes fast_flicker{
    0% { opacity: 0}
    25% { opacity: 1}
    50% { opacity: 0}
    75% { opacity: 1}
    100% { opacity: 0}
}

.flicker{
    -webkit-animation: fast_flicker 1s ease-in-out infinite;
    -moz-animation: fast_flicker 1s ease-in-out infinite;
    animation: fast_flicker 1s ease-in-out infinite;
}

.off{
    opacity: 0 !important;
}

.billboardflicker{
    -webkit-animation: fade 2s ease-in-out infinite;
    -moz-animation: fade 2s ease-in-out infinite;
    animation: fade 2s ease-in-out infinite;
}

.bbt_container{
    display: block;
    width: 84.357%;
    height: 11.7931%;
    position: absolute;
    bottom: 0px;
    margin-left: 7.81%;
    overflow: hidden;
}

@keyframes billboardscroll{
    0% { background-position-x: 0%}
    100% { background-position-x: 160%}
}

@-webkit-keyframes billboardscroll{
    0% { background-position-x: 0%}
    100% { background-position-x: 160%}
}

@-moz-keyframes billboardscroll{
    0% { background-position-x: 0%}
    100% { background-position-x: 160%}
}

.bbt{
    width: 100%;
    float: left;
    top: 50%;
    transform: translate(0%, -50%);
    position: relative;
    background-image: url(../img/billboardtexts/mensaje-in-en.png);
    background-size: cover;
    height: 100%;
    background-repeat-y: no-repeat;

    -webkit-animation: billboardscroll 10s linear infinite;
    -moz-animation: billboardscroll 10s linear infinite;
    animation: billboardscroll 10s linear infinite;
}
/*==================================================================
/                     ANIMATIONS END
/===================================================================*/